body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif   ;
    background-color: #222;
    color: #dddc;
    margin-top: 30px;
    font-size: 1.5em;
}

details{
    word-wrap: break-word;
    margin-bottom: 20px;
    font-size: 1.5em;
    
}

details[open]{
    padding: 8px;
    border: 2px solid rgb(73, 73, 73);
    border-radius: 5px;
    background-color: #29292946;
    font-weight: 600;
    letter-spacing: 1px;
}

ul{
    color: rgba(181, 181, 181, 0.832);
    font-weight: lighter;
    font-size: 0.7em;
}

a{
    color: rgb(222, 222, 222);
}

span{
   color: rgba(218, 216, 216, 0.903);
}